@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sen:wght@700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #013243;
  font-family: "Inter", sans-serif;
  color: #32f5c8;
}

nav {
  margin-top: 32px;
  margin-bottom: 32px;
  position: sticky;
  background-color: #013243;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h2 {
  margin-top: 24px;
  font-size: 108px;
  font-family: "Sen", sans-serif;
  line-height: 1;
}

p,
footer {
  color: #a9bdc6;
  margin-top: 24px;
}

button {
  padding: 8px 12px;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #013243;
  border-radius: 4px;
  border: none;
  background-color: #32f5c8;
}

footer .container {
  display: flex;
  align-items: center;
  gap: 12px;
}
